

<%= @question.body %>

<form>
<input type="radio" name="answer" value='true' id='yes'>
<label for='yes'>Yes</label>
<input type="radio" name="answer" value='false' id='no'>
<label for='no'>No</label>
</form>
